body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  background-color: #3f5f7a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
